<div class="well">
<h1 class="medium">Sing King Karaoke</h1>
<br>
<p class="normal">

Nace por la afición al canto por parte de nuestros socios fundadores, así como por el deseo de crear un ambiente cómodo y amigable, donde nuestros invitados pueden disfrutar de la buena música, el canto, así como deliciosos tragos y piqueos.
<br>
<br>
Esperemos que ustedes, invitados en nuestra "CASA", la sientan como suya: relájense, diviértanse y disfruten del grato ambiente. Compartan con nosotros sus alegrías, sean cumpleaños, aniversarios u otras festividades. Del mismo modo, es parte de nuestra filosofía estar cerca de ustedes y por esto nunca duden en hacernos llegar sus sugerencias y/o críticas. El mejorar no tiene fin.
<br>
<br>
¡Gracias por visitarnos!</p>
<br>
</div>


