<h1 class="kostic highest text-left">Canciones</h1>

<li><%= link_to "Michael Jackson - Thriller (Karaoke Version) ", canciones_thriller_path  %></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
