<div class="well">
<h1 class="medium text-left">1. ¿Cómo realizo mis reservas?</h1>
<p class="text-left" >Rpta. ¡Sencilo! Sólo necesita registrarse en nuestra web o llamando a nuestra central telefónica</p>
<h2 class="medium text-left">2. ¿Cómo sé que mi reserva está realizada mediante la web?</h2>
<p class="text-left" >Rpta. Luego de realizar la reserva, se le mostrará un aviso de confirmación.</p>
<h3 class="medium text-left">3. ¿Luego de realizar mi reserva, cómo me identifico para ingresar al Karaoke?</h3>
<p class="text-left" >Rpta. Sólo presente su ticket o número de reserva para la identificación.</p>
<h4 class="mediumr text-left">4. ¿Deseo anular mi reserva, qué debo hacer?</h4>
<p class=" text-left" >Rpta. Comuníquese con nosotros a nuestra central telfónica con un máximo de 48 horas de anticipación.</p>
<h5 class="medium text-left">5. ¿Otra persona puede presentar mi ticket?</h5>
<p class="text-left" >Rpta. Sí. Los tickets y número de reserva son completamente transferibles previa confirmación del titular.</p>
</div>