<h1 class="kostic medium text-left"> Condiciones del Servicio </h1>
    <ol class="kostic1 medium"> 
        <li>Karaoke SingKing se reserva totalmente el derecho de admisión </li> <br>
        <li>La cancelación de una reserva se realiza con un máximo de anticipación de 48 hora, posterior al plazo indicado no habrá acceso a reembolso de dinero.</li> <br>
        <li>Si usted no se presenta en el restaurante a la hora de la reserva será identificado como una “no aparición”. Nos guardamos el derecho de restringirle o suspenderle el acceso a los servicios de Restorando si usted ha sido identificado una o más veces como una “no aparición” en un período de 12 meses.</li> <br>
        <li>Todo tipo de actos vandálico en cualquiera de nuestro locales serán denunciados con las autoridades pertinentes, además de restringirse el reingreso a nuestras instalaciones.</li><br>
        <li>Cualquier distribución, publicación o explotación comercial o promocional del Sitio Web, o de cualquiera de los contenidos, códigos, datos o materiales en el Sitio Web, está estrictamente prohibida, a menos de que usted haya recibido el previo permiso expreso por escrito del personal autorizado de KaraokeSinKing.</li><br>
        <li>A menos que se solicite específicamente, no pedimos ni deseamos recibir ninguna información confidencial, secreta o patrimonial, ni otro material de usted a través del Sitio Web, por correo electrónico o de cualquier otra manera.</li><br>
        <li>Si usted no se presenta en el restaurante a la hora de la reserva será identificado como una “no aparición”. Nos guardamos el derecho de restringirle o suspenderle el acceso a los servicios de Restorando si usted ha sido identificado una o más veces como una “no aparición” en un período de 12 meses.</li><br>
    </ol> 
<br><br>
<center><%= image_tag "Karaoke1.jpg" %></center>
<br>
<br>