<center>
    
<h1 class="kostic highest text-left">Macklemore & Ryan Lewis - Downtown (Karaoke Version)</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/V8TGcqNkNOY?autoplay=1" frameborder="0" allowfullscreen></iframe>

<%= link_to "Lista de Canciones ", pages_canciones_path ,:class => "btn btn-primary btn-lg" %>

</center>