<center>
    
<h1 class="kostic highest text-left">Aerosmith - I Don't Want To Miss A Thing (Karaoke Version) </h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/s9Qc54Jp-6M?autoplay=1" frameborder="0" allowfullscreen></iframe>

<%= link_to "Lista de Canciones ", pages_canciones_path ,:class => "btn btn-info btn-lg" %>

</center>