<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template medium">
                <div class="well">
                    <a href="/" class="btn btn-default btn-lg btn-block btn-raised">!Página no encontrada!, ir a Inicio</a>
                <div class="error-details">
                    <br>
                    <br>
                </div>
                <%= image_tag("404-dribb.gif", height: '100%', width: '100%') %>
                </div>
            </div>
        </div>
    </div>
</div>




